<!DOCTYPE html>
<!--Thymeleaf, ConfigFragment 선언-->
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:fragment="ImportMonitorPopup">
<div class="modal fade" tabindex="-1" role="dialog" id="importMonitorPopup">
	<div class="modal-dialog" role="document" style="max-width: 60%;">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Import Monitor</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div class="col-100">
					<div class="card p-0">
						<form id="importMonitorPopupForm" name="importMonitorPopupForm">
							<input type="hidden" id="uuid" name="uuid">
							<div id="formDiv" class="card-body needs-validation">
								<div class="form-group row">
									<div class="form-group" style="width: 200px; margin-right: 15px;">
										<label for="name">HBL NO.</label>
										<input type="text" class="form-control" id="hblNo" name="hblNo" required>
										<div class="invalid-feedback">This is a required field.</div>
									</div>
									<div class="form-group" style="width: 200px; margin-right: 15px;">
										<label for="name">MBL NO.</label>
										<input type="text" class="form-control" id="mblNo" name="mblNo" required>
										<div class="invalid-feedback">This is a required field.</div>
									</div>
									<div class="form-group" style="width: 300px; margin-right: 15px;">
										<label for="name">Tank no.( , )</label>
										<input type="text" class="form-control" id="tankNo" name="tankNo" required>
										<div class="invalid-feedback">This is a required field.</div>
									</div>
									<div class="form-group" style="width: 100px; margin-right: 15px;">
										<label for="name">Q'ty</label>
										<input type="text" class="form-control numberFormat" id="quantity" name="quantity">
									</div>
									<div class="form-group" style="width: 100px; margin-right: 15px;">
										<label for="name">Term</label>
										<input type="text" class="form-control" id="term" name="term">
									</div>
								</div>
								<div class="form-group row">
									<input type="hidden" class="form-control" id="concine" name="concine">
									<div class="form-group" style="width: 330px; margin-right: 15px;">
										<label for="name">CNEE</label>
										<input type="text" class="form-control" id="concineName" name="concineName">
									</div>
									<div class="form-group" style="width: 150px; margin-right: 1px;">
										<label for="name">PIC</label>
										<input type="text" class="form-control" id="concinePic" name="concinePic" readonly="readonly">
									</div>
									<div class="form-group" style="width: 330px; margin-right: 15px;">
										<label for="name">Partner</label>
										<input type="text" class="form-control" id="partner" name="partner">
									</div>
									<div class="form-group" style="width: 120px; margin-right: 15px;">
										<label for="name">PROFIT DATE</label>
										<input type="text" class="form-control daterange-cus dateInput" id="profitDate" name="profitDate">
									</div>
								</div>
								<div class="form-group row">
									<div class="form-group" style="width: 330px; margin-right: 1px;">
										<label for="name">Item Name</label>
										<input type="text" class="form-control" id="itemName" name="itemName">
										<input type="hidden" class="form-control" id="cargo" name="cargo" readonly="readonly">
									</div>
									<div class="form-group" style="width: 100px; margin-right: 1px;">
										<label for="name">Item Date</label>
										<input type="text" class="form-control" id="cargoDate" name="cargoDate" readonly="readonly">
									</div>
									<div class="form-group" style="width: 150px; margin-right: 15px;">
										<label for="name">Item Location</label>
										<input type="text" class="form-control" id="cargoLocation" name="cargoLocation" readonly="readonly">
									</div>
									<div class="form-group" style="width: 175px; margin-right: 15px;">
										<label for="name">Vessel / Voyage</label>
										<input type="text" class="form-control" id="vesselVoyage" name="vesselVoyage">
									</div>
									<div class="form-group" style="width: 175px; margin-right: 15px;">
										<label for="name">Carrier</label>
										<input type="text" class="form-control" id="carrier" name="carrier">
									</div>
								</div>
								<div class="form-group row">
									<div class="form-group" style="width: 80px; margin-right: 15px;">
										<label for="name">POL</label>
										<input type="text" class="form-control" id="pol" name="pol">
									</div>
									<div class="form-group" style="width: 80px; margin-right: 1px;">
										<label for="name">POD</label>
										<input type="text" class="form-control" id="pod" name="pod">
									</div>
									<div class="form-group" style="width: 80px; margin-right: 1px;">
										<label for="name">Code</label>
										<input type="text" class="form-control" id="parkingLotCode" name="parkingLotCode">
									</div>
									<div class="form-group" style="width: 210px; margin-right: 15px;">
										<label for="name">TERMINAL</label>
										<input type="text" class="form-control" id="terminal" name="terminal">
										<input type="hidden" class="form-control" id="terminalCode" name="terminalCode" readonly="readonly">
										
									</div>
									<div class="form-group" style="width: 100px; margin-right: 14px;">
										<label for="name">ETD</label>
										<input type="text" class="form-control daterange-cus dateInput" id="etd" name="etd" >
									</div>
									<div class="form-group" style="width: 100px; margin-right: 14px;">
										<label for="name">ETA</label>
										<input type="text" class="form-control daterange-cus dateInput" id="eta" name="eta" >
									</div>
									<div class="form-group" style="width: 50px; margin-right: 14px;">
										<label for="name">F/T</label>
										<input type="number" class="form-control" id="ft" name="ft">
									</div>
									<div class="form-group" style="width: 100px; margin-right: 14px;">
										<label for="name">END OF F/T</label>
										<input type="text" class="form-control" id="endOfFt" name="endOfFt" readonly="readonly">
									</div>
									<div class="form-group" style="width: 78px;">
										<label for="name">DEM RATE</label>
										<input type="text" class="form-control" id="demRate" name="demRate">
									</div>
								</div>
								<div class="form-group row">
									<div class="form-group" style="width: 130px; margin-right: 15px;">
										<label for="name">STATUS</label>
										<select id="shipmentStatus" name="shipmentStatus" class="form-control select2" data-minimum-results-for-search="Infinity">
											<option value="Y" selected="selected">IN PROGRES</option>
											<option value="N">CLOSED</option>
											<option value="">All</option>
										</select>
									</div>
									<div class="form-group col-md-70">
										<label for="name">비고</label>
										<input type="text" class="form-control" id="remark" name="remark">
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
			<div class="modal-footer bg-whitesmoke br">
				<button type="button" class="btn btn-secondary" id="importMonitorPopupClose" data-dismiss="modal" th:text="#{common.button.label.close}"></button>
<!-- 				<button type="button" class="btn btn-primary" onclick="paste()">Paste</button> -->
				<button type="button" class="btn btn-success" onclick="importMonitorPopupSave()" th:text="#{common.button.label.save}"></button>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">

$('#profitDate').daterangepicker({
	  locale: {format: 'YYYY-MM-DD'},
	  autoUpdateInput: false,
	  singleDatePicker: true,
	  drops: 'down',
	  opens: 'right'
}).on('apply.daterangepicker', function (ev, picker) {
  $(this).val(picker.startDate.format('YYYY-MM-DD'));
});

$('#etd').daterangepicker({
	  locale: {format: 'YYYY-MM-DD'},
	  autoUpdateInput: false,
	  singleDatePicker: true,
	  drops: 'down',
	  opens: 'right'
}).on('apply.daterangepicker', function (ev, picker) {
$(this).val(picker.startDate.format('YYYY-MM-DD'));
});

$('#eta').daterangepicker({
	  locale: {format: 'YYYY-MM-DD'},
	  autoUpdateInput: false,
	  singleDatePicker: true,
	  drops: 'down',
	  opens: 'right'
}).on('apply.daterangepicker', function (ev, picker) {
$(this).val(picker.startDate.format('YYYY-MM-DD'));
});

$("#eta, #ft").on( "focusout", function() {
	$('#endOfFt').val(endOfFt($("#eta").val(), $("#ft").val()));
});

async function partnerAutocompleteLoad(){
	$("#partner").autocomplete({
		source: partnerList,
		delay: 100,
		autoFocus: true,
		minChars: 0,
		minLength: 0,
		open: function(){
	        $(this).autocomplete('widget').css('z-index', 1100);
	        return false;
	    },
	    select: function (event, ui) {
	    },
	    close : function (event, ui) {

	        return false;
	    }
	}).focus(function() {
	    $(this).autocomplete("search", $(this).val());
	});
}

async function itemAutocompleteLoad(){
	$("#itemName").autocomplete({
		source: carGoList,
		delay: 100,
		autoFocus: true,
		minChars: 0,
		minLength: 0,
		open: function(){
	        $(this).autocomplete('widget').css('z-index', 1100);
	        return false;
	    },
	    select: function (event, ui) {
	    	$('#cargo').val(ui.item.code);
	    	$('#cargoDate').val(ui.item.cargoDate);
	    	$('#cargoLocation').val(ui.item.location);
	    },
	    close : function (event, ui) {
	        return false;
	    }
	}).focus(function() {
	    $(this).autocomplete("search", $(this).val());
	});
}

async function terminalAutocompleteLoad(){
	$("#terminal").autocomplete({
		source: terminalList,
		delay: 100,
		autoFocus: true,
		minChars: 0,
		minLength: 0,
		open: function(){
	        $(this).autocomplete('widget').css('z-index', 1100);
	        return false;
	    },
	    select: function (event, ui) {
	    	$('#terminalCode').val(ui.item.code);
	    	$('#pod').val(ui.item.region);
	    	$('#parkingLotCode').val(ui.item.parkingLotCode);
	    },
	    close : function (event, ui) {
	        return false;
	    }
	}).focus(function() {
	    $(this).autocomplete("search", $(this).val());
	});
	
	$("#parkingLotCode").autocomplete({
		source: terminalList,
		delay: 100,
		autoFocus: true,
		minChars: 0,
		minLength: 0,
		open: function(){
	        $(this).autocomplete('widget').css('z-index', 1100);
	        return false;
	    },
	    select: function (event, ui) {
	    	$('#terminalCode').val(ui.item.code);
	    	$('#pod').val(ui.item.region);
	    	$('#terminal').val(ui.item.value);
	    	setTimeout(function() {
	    		$('#parkingLotCode').val(ui.item.parkingLotCode);
			}, 100);
	    },
	    close : function (event, ui) {
	    	
	        return false;
	    }
	}).focus(function() {
	    $(this).autocomplete("search", $(this).val());
	});
	
	
}

async function customerAutocompleteLoad(){
	$("#concineName").autocomplete({
		source: customerList,
		delay: 100,
		autoFocus: true,
		minChars: 0,
		minLength: 0,
		open: function(){
	        $(this).autocomplete('widget').css('z-index', 1100);
	        return false;
	    },
	    select: function (event, ui) {
	    	$('#concine').val(ui.item.code);
	    	$('#concinePic').val(ui.item.pic);
	    },
	    close : function (event, ui) {
	        return false;
	    }
	}).focus(function() {
	    $(this).autocomplete("search", $(this).val());
	});
}


$("#importMonitorPopup").on("show.bs.modal", function(e) {
// 	dataBinding(testData);
// 	$('#etd').data('daterangepicker').setStartDate(toDate());
// 	$('#eta').data('daterangepicker').setStartDate(toDate());
// 	$('#endOfFt').data('daterangepicker').setStartDate(toDate());
});
  
$("#importMonitorPopup").on("hide.bs.modal", function(e) {
	clearFormValues($('#importMonitorPopupForm').serializeObject());
  //	clearFormValues(consigneeData);
  	$('#formDiv').removeClass('was-validated');
});
  
/* 붙여넣기 */  
function paste(){
	var ids = ['sales','carryoverSales','arrivalNotice','invoice','concine','profitDate','domesticSales','foreignSales','quantity','partner','tankNo','term','item','vesselVoyage','carrier','mblNo','hblNo','pol','pod','terminal','etd','eta','ata','remark','ft','demRate','endOfFt','estimateReturnDate','returnDate','returnDepot','totalDem','demReceived','demRcvd','demPrch','demSales','depotInDate','repositionPrch'];
	navigator.clipboard.readText().then(text => {
        // use text as a variable, here text = 'clipboard text'
		text = text.split("	");
	 	for ( var i = 0 ; i < text.length ; i++ ) {
	 		var data = text[i].replaceAll('US$','').replaceAll('$','').replaceAll('N/A','');
	 		if(i == 6 || i == 7){
	 			data = parseInt($.trim(data));
	 		}
	 		$('#' + ids[i]).val($.trim(data));
		}
    });
}  

async function importMonitorPopupSave(){
	// 벨리데이션 체크 
	if($('#hblNo').val() === '' || $('#tankNo').val() === ''){
		$('#formDiv').addClass('was-validated');
		return false;
	}
  	
  	var response = await requestApi('POST', '/api/management/save-popup-port', $('#importMonitorPopupForm').serializeObject());
  	if(response.common.status === 'S'){
 		$('#importMonitorPopupClose').click();
 	}
}

const inputs = document.querySelectorAll('input');

inputs.forEach((input, index) => {
  input.addEventListener('keydown', function (e) {
    if (e.key === 'Enter') {
      e.preventDefault(); // 폼 제출 방지
      var nextId = null;
      if(this.id === 'hblNo') nextId = 'mblNo';
      else if(this.id === 'mblNo') nextId = 'tankNo';
      else if(this.id === 'mblNo') nextId = 'tankNo';
      else if(this.id === 'tankNo') nextId = 'quantity';
      else if(this.id === 'quantity') nextId = 'term';
      else if(this.id === 'term') nextId = 'concineName';
      else if(this.id === 'concineName') nextId = 'partner';
      else if(this.id === 'partner') nextId = 'profitDate';
      else if(this.id === 'profitDate') nextId = 'itemName';
      else if(this.id === 'itemName') nextId = 'vesselVoyage';
      else if(this.id === 'vesselVoyage') nextId = 'carrier';
      else if(this.id === 'carrier') nextId = 'pol';
      else if(this.id === 'pol') nextId = 'pod';
      else if(this.id === 'pod') nextId = 'terminal';
      else if(this.id === 'terminal') nextId = 'etd';
      else if(this.id === 'etd') nextId = 'eta';
      else if(this.id === 'eta') nextId = 'ft';
      else if(this.id === 'ft') nextId = 'endOfFt';
      else if(this.id === 'endOfFt') nextId = 'demRate';
      else if(this.id === 'demRate') nextId = 'remark';
      
      if(nextId != null){
    	  $('#' + nextId).focus();
      }
    }
  });
});

</script>
</html>