<!DOCTYPE html>
<!--Thymeleaf, ConfigFragment 선언-->
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:fragment="ImportMonitorPopup">
<div class="modal fade" tabindex="-1" role="dialog" id="importMonitorPopup" data-backdrop="static">
	<div class="modal-dialog" role="document" style="max-width: 60%;">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Import Monitor</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div class="col-100">
					<div class="card p-0">
						<form id="importMonitorPopupForm" name="importMonitorPopupForm">
							<input type="hidden" id="uuid" name="uuid">
							<div id="formDiv" class="card-body needs-validation">
								<div class="form-group row">
									<div class="form-group" style="width: 200px; margin-right: 15px;">
										<label for="name">HBL NO.</label>
										<input type="text" class="form-control" id="hblNo" name="hblNo" required>
										<div class="invalid-feedback">This is a required field.</div>
									</div>
									<div class="form-group" style="width: 200px; margin-right: 15px;">
										<label for="name">MBL NO.</label>
										<input type="text" class="form-control" id="mblNo" name="mblNo" required>
										<div class="invalid-feedback">This is a required field.</div>
									</div>
									<div class="form-group" style="width: 300px; margin-right: 15px;">
										<label for="name">Tank no.(여러건의 Tank no 구분자로 , 사용해주세요 )</label>
										<div class="input-group">
											<input type="text" class="form-control" id="tankNo" name="tankNo" required>
											<div class="invalid-feedback">This is a required field.</div>
											<div class="input-group-append">
												<button class="btn btn-primary" type="button" onclick="popupTankNoNew()">Multi</button>
											</div>
										</div>
									</div>
									<div class="form-group" style="width: 100px; margin-right: 15px;">
										<label for="name">Q'ty</label>
										<input type="text" class="form-control numberFormat" id="quantity" name="quantity">
									</div>
									<div class="form-group" style="width: 150px; margin-right: 15px;">
										<label for="name">Term</label>
										<div class="input-group">
											<input type="text" class="form-control" id="term" name="term">
											<div class="input-group-append">
												<button class="btn btn-primary" type="button" onclick="popupTermNew()">New</button>
											</div>
										</div>
										<input type="hidden" class="form-control" id="termId" name="termId">
									</div>
								</div>
								<div class="form-group row">
									<input type="hidden" class="form-control" id="concine" name="concine">
									<div class="form-group" style="width: 330px; margin-right: 15px;">
										<label for="name">CNEE</label>
										<div class="input-group">
											<input type="text" class="form-control" id="concineName" name="concineName">
											<div class="input-group-append">
												<button class="btn btn-primary" type="button" onclick="popupConcineNew()">New</button>
											</div>
										</div>
									</div>
									<div class="form-group" style="width: 150px; margin-right: 1px;">
										<label for="name">PIC</label>
										<input type="text" class="form-control" id="concinePic" name="concinePic" readonly="readonly">
									</div>
									<div class="form-group" style="width: 330px; margin-right: 15px;">
										<label for="name">Partner</label>
										<input type="text" class="form-control" id="partner" name="partner">
									</div>
									<div class="form-group" style="width: 120px; margin-right: 15px;">
										<label for="name">PROFIT DATE</label>
										<input type="text" class="form-control daterange-cus dateInput" id="profitDate" name="profitDate">
									</div>
								</div>
								<div class="form-group row">
									<div class="form-group" style="width: 330px; margin-right: 1px;">
										<label for="name">Item Name</label>
										<div class="input-group">
											<input type="text" class="form-control" id="itemName" name="itemName">
											<div class="input-group-append">
												<button class="btn btn-primary" type="button" onclick="popupItemNew()">New</button>
											</div>
										</div>
										<input type="hidden" class="form-control" id="cargo" name="cargo" readonly="readonly">
									</div>
									<div class="form-group" style="width: 100px; margin-right: 1px;">
										<label for="name">Item Date</label>
										<input type="text" class="form-control" id="cargoDate" name="cargoDate" readonly="readonly">
									</div>
									<div class="form-group" style="width: 150px; margin-right: 15px;">
										<label for="name">Item Location</label>
										<input type="text" class="form-control" id="cargoLocation" name="cargoLocation" readonly="readonly">
									</div>
									<div class="form-group" style="width: 175px; margin-right: 15px;">
										<label for="name">Vessel / Voyage</label>
										<input type="text" class="form-control" id="vesselVoyage" name="vesselVoyage">
									</div>
									<div class="form-group" style="width: 175px; margin-right: 15px;">
										<label for="name">Carrier</label>
										<input type="text" class="form-control" id="carrier" name="carrier">
									</div>
								</div>
								<div class="form-group row">
									<div class="form-group" style="width: 80px; margin-right: 15px;">
										<label for="name">POL</label>
										<input type="text" class="form-control" id="pol" name="pol">
									</div>
									<div class="form-group" style="width: 80px; margin-right: 1px;">
										<label for="name">POD</label>
										<input type="text" class="form-control" id="pod" name="pod">
									</div>
									<div class="form-group" style="width: 80px; margin-right: 1px;">
										<label for="name">Code</label>
										<input type="text" class="form-control" id="parkingLotCode" name="parkingLotCode">
									</div>
									<div class="form-group" style="width: 210px; margin-right: 15px;">
										<label for="name">TERMINAL</label>
										<input type="text" class="form-control" id="terminal" name="terminal">
										<input type="hidden" class="form-control" id="terminalCode" name="terminalCode" readonly="readonly">
										
									</div>
									<div class="form-group" style="width: 100px; margin-right: 14px;">
										<label for="name">ETD</label>
										<input type="text" class="form-control daterange-cus dateInput" id="etd" name="etd" >
									</div>
									<div class="form-group" style="width: 100px; margin-right: 14px;">
										<label for="name">ETA</label>
										<input type="text" class="form-control daterange-cus dateInput" id="eta" name="eta" >
									</div>
									<div class="form-group" style="width: 50px; margin-right: 14px;">
										<label for="name">F/T</label>
										<input type="number" class="form-control" id="ft" name="ft">
									</div>
									<div class="form-group" style="width: 100px; margin-right: 14px;">
										<label for="name">END OF F/T</label>
										<input type="text" class="form-control" id="endOfFt" name="endOfFt" readonly="readonly">
									</div>
									<div class="form-group" style="width: 78px;">
										<label for="name">DEM RATE</label>
										<input type="text" class="form-control" id="demRate" name="demRate">
									</div>
								</div>
								<div class="form-group row">
									<div class="form-group" style="width: 130px; margin-right: 15px;">
										<label for="name">STATUS</label>
										<select id="shipmentStatus" name="shipmentStatus" class="form-control select2" data-minimum-results-for-search="Infinity">
											<option value="Y" selected="selected">IN PROGRES</option>
											<option value="N">CLOSED</option>
											<option value="">All</option>
										</select>
									</div>
									<div class="form-group col-md-70">
										<label for="name">비고</label>
										<input type="text" class="form-control" id="remark" name="remark">
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
			<div class="modal-footer bg-whitesmoke br">
				<button type="button" class="btn btn-secondary" id="importMonitorPopupClose" data-dismiss="modal" th:text="#{common.button.label.close}"></button>
<!-- 				<button type="button" class="btn btn-primary" onclick="paste()">Paste</button> -->
				<button type="button" class="btn btn-success" onclick="importMonitorPopupSave()" th:text="#{common.button.label.save}"></button>
			</div>
		</div>
	</div>
</div>

<!-- CNEE 추가 팝업 -->
<div class="modal fade" tabindex="1" role="dialog" id="concineNewModal">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Add New Consignee Information</h5>
			</div>
			<div class="modal-body">
				<div class="col-100">
					<div class="card">
						<form id="concineNewModalForm" name="concineNewModalForm">
						<div id="concineNewModalFormDiv" class="card-body needs-validation">
						<div class="form-group row">
							<div class="form-group" style="padding-left: 15px;">
								<label for="name">Code</label>
								<input type="text" class="form-control" id="pconcineCode" name="pconcineCode" required>
								<div class="invalid-feedback">This is a required field.</div>
							</div>
						</div>
						<div class="form-group row">
							<div class="form-group" style="padding-left: 15px;">
								<label for="name">Name</label>
								<input type="text" class="form-control" id="pconcineName" name="pconcineName" required>
								<div class="invalid-feedback">This is a required field.</div>
							</div>
						</div>
						<div class="form-group row">
							<div class="form-group" style="padding-left: 15px;">
								<label for="name">PIC</label>
								<input type="text" class="form-control" id="pconcinePic" name="pconcinePic" required>
							</div>
						</div>
						<div class="form-group row">
							<div class="form-group" style="padding-left: 15px;">
								<label for="name">e-Mail</label>
								<input type="text" class="form-control" id="pconcineEmail" name="pconcineEmail" required>
							</div>
						</div>
						</div>
						</form>
					</div>
				</div>
			</div>
			<div class="modal-footer bg-whitesmoke br">
				<button type="button" class="btn btn-secondary" onclick="popupConcineClose()">Close</button>
				<button type="button" class="btn btn-success" onclick="popupConcineSave()">Save</button>
			</div>
		</div>
	</div>
</div>

<!-- ITEM 추가 팝업 -->
<div class="modal fade" tabindex="1" role="dialog" id="itemNewModal">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Add New Item Information</h5>
			</div>
			<div class="modal-body">
				<div class="col-100">
					<div class="card">
						<form id="itemNewModalForm" name="itemNewModalForm">
						<div id="itemNewModalFormDiv" class="card-body needs-validation">
						<div class="form-group row">
							<div class="form-group" style="padding-left: 15px;">
								<label for="name">Name</label>
								<input type="text" class="form-control" id="pitemName" name="pitemName" required>
								<div class="invalid-feedback">This is a required field.</div>
							</div>
						</div>
						<div class="form-group row">
							<div class="form-group" style="padding-left: 15px;">
								<label for="name">Date</label>
								<div class="input-group">
									<div class="input-group-prepend">
										<div class="input-group-text">
											<i class="fas fa-calendar"></i>
										</div>
									</div>
									<input type="text" id="pitemCargoDate" name="pitemCargoDate" class="form-control daterange-cus" required>
									<div class="invalid-feedback">This is a required field.</div>
								</div>
							</div>
						</div>
						</div>
						</form>
					</div>
				</div>
			</div>
			<div class="modal-footer bg-whitesmoke br">
				<button type="button" class="btn btn-secondary" onclick="popupItemClose()">Close</button>
				<button type="button" class="btn btn-success" onclick="popupItemSave()">Save</button>
			</div>
		</div>
	</div>
</div>

<!-- Tank No. 추가 팝업 -->
<div class="modal fade" tabindex="1" role="dialog" id="tankNoNewModal">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Add New TankNo Information</h5>
			</div>
			<div class="modal-body">
				<div class="col-100">
					<div class="card">
						<div class="card-header">
							<div class="text-right">
								<button class="btn btn btn-light" onclick="tankNoPaste()">Paste</button>
								<button class="btn btn btn-primary" onclick="tankNoAdd()">Add</button>
							</div>
						</div>
						<div class="card-body p-0">
							<div class="table-responsive" style="overflow: hidden;">
								<table id="tankNo-table"></table>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer bg-whitesmoke br">
				<button type="button" class="btn btn-secondary" onclick="popupTankNoClose()">Close</button>
				<button type="button" class="btn btn-success" onclick="popupTankNoSave()">Save</button>
			</div>
		</div>
	</div>
</div>


<!-- Term 추가 팝업 -->
<div class="modal fade" tabindex="1" role="dialog" id="termNewModal">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Add New Term Information</h5>
			</div>
			<div class="modal-body">
				<div class="col-100">
					<div class="card">
						<form id="termNewModalForm" name="termNewModalForm">
						<div id="termNewModalFormDiv" class="card-body needs-validation">
						<div class="form-group row">
							<div class="form-group" style="padding-left: 15px;">
								<label for="name">Name</label>
								<input type="text" class="form-control" id="ptermName" name="ptermName" required>
								<div class="invalid-feedback">This is a required field.</div>
							</div>
						</div>
						</div>
						</form>
					</div>
				</div>
			</div>
			<div class="modal-footer bg-whitesmoke br">
				<button type="button" class="btn btn-secondary" onclick="popupTermClose()">Close</button>
				<button type="button" class="btn btn-success" onclick="popupTermSave()">Save</button>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">

$( document ).ready(function() {
	$('#tankNo-table').jqGrid({
	   	datatype: "json",
	   	colNames: ['','Tank No.'],
	   	colModel: [
	   		{ name: 'jqFlag', width: 40, align:'center'},
	   		{ name: 'tankNo', width: 350, align:'center', editable: true}
	   	],
		height: 300, 
		width: '100%',
		dblEdit : true,
		delselect: true
//		multiselect : true, // 그리드 왼쪽부분에 체크 박스가 생겨 다중선택이 가능해진다.
// 		multiboxonly : true // 다중선택을 단일 선택으로 제한
	});
});

function popupTermNew(){
	$('#termNewModal').modal('show');
}

async function popupTermSave(){
	if($('#ptermName').val() === ''){
		$('#termNewModalFormDiv').addClass('was-validated');
		return false;
	}
	
	var response = await requestApi('POST', '/api/mdm/popup-term', {name : $('#ptermName').val()});
	if(response.common.status === 'S'){
		var addItem = {id : response.data.id, label : response.data.name, value : response.data.name};
		$('#term').val(response.data.name);
		$('#termId').val(response.data.id);
		termList.push(addItem);
		popupTermClose();
 	}
}

function popupTermClose(){
	$('#termNewModalForm')[0].reset();
	$('#termNewModal').modal('hide');
}


function tankNoAdd(){
	$('#tankNo-table').addRow();
}

async function tankNoPaste(){
	 var text = await navigator.clipboard.readText();
	 text = text.split("\n");
	 var gridJson = ComGridData('#tankNo-table');
	 for(var i=0; i < text.length; i++){
		 if(text[i] != '')
		 	gridJson[gridJson.length] = {'jqFlag' : C, 'tankNo': text[i]};
	 }
	 $('#tankNo-table').clearGridData();
	 if(gridJson.length > 0) $('#tankNo-table').searchData(gridJson, {editor: true});
}

function popupTankNoSave(){
	var saveData = ComGridData('#tankNo-table');
	var temp = '';
	for(var i=0; i < saveData.length; i++){
		if(saveData[i].jqFlag != D){
			temp += saveData[i].tankNo;
			if(i < saveData.length-1) temp += ",";
		}
	}
	$('#tankNo').val(temp);
	popupTankNoClose();
}

function popupTankNoClose(){
	$('#tankNo-table').clearGridData();
	$('#tankNoNewModal').modal('hide');
}

/**
 * Item 팝업 오픈
 */
function popupTankNoNew(){
	var temp = $('#tankNo').val();
	var gridJson = [];
	if(temp != '' && temp.indexOf(',') > 0){
		var tankNos = temp.split(",");
		for(var i=0; i < tankNos.length; i++){
			gridJson[i] = {'tankNo': tankNos[i]};
		}
	}
	else if(temp != ''){
		gridJson[0] = {'tankNo': temp};
	}
	
	if(gridJson.length > 0) $('#tankNo-table').searchData(gridJson, {editor: true});
	$('#tankNoNewModal').modal('show');
}


$('#pitemCargoDate').daterangepicker({
	  locale: {format: 'YYYY-MM-DD'},
	  autoUpdateInput: false,
	  singleDatePicker: true,
	  drops: 'down',
	  opens: 'right'
}).on('apply.daterangepicker', function (ev, picker) {
  $(this).val(picker.startDate.format('YYYY-MM-DD'));
});
	
/**
 * Item 팝업 오픈
 */
async function popupItemSave(){
	
	if($('#pitemName').val() === '' || $('#pitemCargoDate').val() === ''){
		$('#itemNewModalFormDiv').addClass('was-validated');
		return false;
	}
	
	var response = await requestApi('POST', '/api/mdm/cargo-popup', $('#itemNewModalForm').serializeObject());
	if(response.common.status === 'S'){
		var addItem = {cargoDate : $('#pitemCargoDate').val(), label : $('#pitemName').val(), value : $('#pitemName').val(), code : response.data.code};
		$('#itemName').val($('#pitemName').val());
		$('#cargo').val(response.data.code);
		$('#cargoDate').val($('#pitemCargoDate').val());
		carGoList.push(addItem);
		popupItemClose();
 	}
}

function popupItemClose(){
	$('#itemNewModalForm')[0].reset();
	$('#itemNewModal').modal('hide');
}


/**
 * Item 팝업 오픈
 */
function popupItemNew(){
	$('#pitemName').val($('#itemName').val());
	// 특정 input 요소에 포커스를 이동시키기
	$('#pitemName').focus();
	$('#itemNewModal').modal('show');
}

$('#profitDate').daterangepicker({
	  locale: {format: 'YYYY-MM-DD'},
	  autoUpdateInput: false,
	  singleDatePicker: true,
	  drops: 'down',
	  opens: 'right'
}).on('apply.daterangepicker', function (ev, picker) {
  $(this).val(picker.startDate.format('YYYY-MM-DD'));
});

$('#etd').daterangepicker({
	  locale: {format: 'YYYY-MM-DD'},
	  autoUpdateInput: false,
	  singleDatePicker: true,
	  drops: 'down',
	  opens: 'right'
}).on('apply.daterangepicker', function (ev, picker) {
$(this).val(picker.startDate.format('YYYY-MM-DD'));
});

$('#eta').daterangepicker({
	  locale: {format: 'YYYY-MM-DD'},
	  autoUpdateInput: false,
	  singleDatePicker: true,
	  drops: 'down',
	  opens: 'right'
}).on('apply.daterangepicker', function (ev, picker) {
$(this).val(picker.startDate.format('YYYY-MM-DD'));
});

$("#eta, #ft").on( "focusout", function() {
	$('#endOfFt').val(endOfFt($("#eta").val(), $("#ft").val()));
});


var termFiltered = null;
async function termAutocompleteLoad(){
	$("#term").autocomplete({
		source: function(request, response) {
			termFiltered = $.ui.autocomplete.filter(termList, request.term);
		    if (termFiltered.length === 0) {
		    	termFiltered.push({
		        label: "No results found",
		        value: ""
		      });
		    }
		    response(termFiltered);
		},
		delay: 100,
		autoFocus: true,
		minChars: 0,
		minLength: 0,
		open: function(){
	        $(this).autocomplete('widget').css('z-index', 1100);
	        return false;
	    },
	    select: function (event, ui) {
	    	$('#termId').val(ui.item.id);
	    },
	    close : function (event, ui) {

	        return false;
	    }
	}).focus(function() {
	    $(this).autocomplete("search", $(this).val());
	});
}

var partnerFiltered = null;
async function partnerAutocompleteLoad(){
	$("#partner").autocomplete({
		source: function(request, response) {
			partnerFiltered = $.ui.autocomplete.filter(partnerList, request.term);
		    if (partnerFiltered.length === 0) {
		    	partnerFiltered.push({
		        label: "No results found",
		        value: ""
		      });
		    }
		    response(partnerFiltered);
		},
		delay: 100,
		autoFocus: true,
		minChars: 0,
		minLength: 0,
		maxShowItems: 10,
		open: function(){
	        $(this).autocomplete('widget').css('z-index', 1100);
	        return false;
	    },
	    select: function (event, ui) {
	    },
	    close : function (event, ui) {

	        return false;
	    }
	}).focus(function() {
	    $(this).autocomplete("search", $(this).val());
	});
}

var carGoFiltered
async function itemAutocompleteLoad(){
	$("#itemName").autocomplete({
		source: function(request, response) {
			carGoFiltered = $.ui.autocomplete.filter(carGoList, request.term);
		    if (carGoFiltered.length === 0) {
		    	carGoFiltered.push({
		        label: "No results found",
		        value: ""
		      });
		    }
		    response(carGoFiltered);
		},
		delay: 100,
		autoFocus: true,
		minChars: 0,
		minLength: 0,
		maxShowItems: 10,
		open: function(){
	        $(this).autocomplete('widget').css('z-index', 1100);
	        return false;
	    },
	    select: function (event, ui) {
	    	$('#cargo').val(ui.item.code);
	    	$('#cargoDate').val(ui.item.cargoDate);
	    	$('#cargoLocation').val(ui.item.location);
	    },
	    close : function (event, ui) {
	        return false;
	    }
	}).focus(function() {
	    $(this).autocomplete("search", $(this).val());
	});
}

var terminalFiltered = null;
async function terminalAutocompleteLoad(){
	$("#terminal").autocomplete({
		source: function(request, response) {
			terminalFiltered = $.ui.autocomplete.filter(terminalList, request.term);
		    if (terminalFiltered.length === 0) {
		    	terminalFiltered.push({
		        label: "No results found",
		        value: ""
		      });
		    }
		    response(terminalFiltered);
		},
		delay: 100,
		autoFocus: true,
		minChars: 0,
		minLength: 0,
		maxShowItems: 10,
		open: function(){
	        $(this).autocomplete('widget').css('z-index', 1100);
	        return false;
	    },
	    select: function (event, ui) {
	    	$('#terminalCode').val(ui.item.code);
	    	$('#pod').val(ui.item.region);
	    	$('#parkingLotCode').val(ui.item.parkingLotCode);
	    },
	    close : function (event, ui) {
	        return false;
	    }
	}).focus(function() {
	    $(this).autocomplete("search", $(this).val());
	});
	
	$("#parkingLotCode").autocomplete({
		source: function(request, response) {
			terminalFiltered = $.ui.autocomplete.filter(terminalList, request.term);
		    if (terminalFiltered.length === 0) {
		    	terminalFiltered.push({
		        label: "No results found",
		        value: ""
		      });
		    }
		    response(terminalFiltered);
		},
		delay: 100,
		autoFocus: true,
		minChars: 0,
		minLength: 0,
		maxShowItems: 10,
		open: function(){
	        $(this).autocomplete('widget').css('z-index', 1100);
	        return false;
	    },
	    select: function (event, ui) {
	    	$('#terminalCode').val(ui.item.code);
	    	$('#pod').val(ui.item.region);
	    	$('#terminal').val(ui.item.value);
	    	setTimeout(function() {
	    		$('#parkingLotCode').val(ui.item.parkingLotCode);
			}, 100);
	    },
	    close : function (event, ui) {
	    	
	        return false;
	    }
	}).focus(function() {
	    $(this).autocomplete("search", $(this).val());
	});
	
	
}

var concineFiltered = null;
async function customerAutocompleteLoad(){
	$("#concineName").autocomplete({
		source: function(request, response) {
		    concineFiltered = $.ui.autocomplete.filter(customerList, request.term);
		    if (concineFiltered.length === 0) {
		    	concineFiltered.push({
		        label: "No results found",
		        value: ""
		      });
		    }
		    response(concineFiltered);
		},
		delay: 100,
		autoFocus: true,
		minChars: 0,
		minLength: 0,
		maxShowItems: 10,
		open: function(){
	        $(this).autocomplete('widget').css('z-index', 1100);
	        return false;
	    },
	    select: function (event, ui) {
	    	$('#concine').val(ui.item.code);
	    	$('#concinePic').val(ui.item.pic);
	    },
	    close : function (event, ui) {
	    	console.log($(this).val());
	        return false;
	    }
	}).focus(function() {
	    $(this).autocomplete("search", $(this).val());
	});
}


$("#importMonitorPopup").on("show.bs.modal", function(e) {
// 	dataBinding(testData);
// 	$('#etd').data('daterangepicker').setStartDate(toDate());
// 	$('#eta').data('daterangepicker').setStartDate(toDate());
// 	$('#endOfFt').data('daterangepicker').setStartDate(toDate());
});
  
$("#importMonitorPopup").on("hide.bs.modal", function(e) {
	clearFormValues($('#importMonitorPopupForm').serializeObject());
  //	clearFormValues(consigneeData);
  	$('#formDiv').removeClass('was-validated');
});
  
/* 붙여넣기 */  
function paste(){
	var ids = ['sales','carryoverSales','arrivalNotice','invoice','concine','profitDate','domesticSales','foreignSales','quantity','partner','tankNo','term','item','vesselVoyage','carrier','mblNo','hblNo','pol','pod','terminal','etd','eta','ata','remark','ft','demRate','endOfFt','estimateReturnDate','returnDate','returnDepot','totalDem','demReceived','demRcvd','demPrch','demSales','depotInDate','repositionPrch'];
	navigator.clipboard.readText().then(text => {
        // use text as a variable, here text = 'clipboard text'
		text = text.split("	");
	 	for ( var i = 0 ; i < text.length ; i++ ) {
	 		var data = text[i].replaceAll('US$','').replaceAll('$','').replaceAll('N/A','');
	 		if(i == 6 || i == 7){
	 			data = parseInt($.trim(data));
	 		}
	 		$('#' + ids[i]).val($.trim(data));
		}
    });
}  

async function importMonitorPopupSave(){
	// 벨리데이션 체크 
	if($('#hblNo').val() === '' || $('#tankNo').val() === ''){
		$('#formDiv').addClass('was-validated');
		return false;
	}
  	
  	var response = await requestApi('POST', '/api/management/save-popup-port', $('#importMonitorPopupForm').serializeObject());
  	if(response.common.status === 'S'){
 		$('#importMonitorPopupClose').click();
 	}
}

const inputs = document.querySelectorAll('input');

inputs.forEach((input, index) => {
  input.addEventListener('keydown', function (e) {
    if (e.key === 'Enter') {
      e.preventDefault(); // 폼 제출 방지
      var nextId = null;
      if(this.id === 'hblNo') nextId = 'mblNo';
      else if(this.id === 'mblNo') nextId = 'tankNo';
      else if(this.id === 'mblNo') nextId = 'tankNo';
      else if(this.id === 'tankNo') nextId = 'quantity';
      else if(this.id === 'quantity') nextId = 'term';
      else if(this.id === 'term'){
		if(termFiltered != null && termFiltered.length === 1){
			$('#termId').val(termFiltered[0].id);
			$('#term').val(concineFiltered[0].value);
		}
		nextId = 'concineName';
      }
      else if(this.id === 'concineName'){
		if(concineFiltered != null && concineFiltered.length === 1){
			$('#concineName').val(concineFiltered[0].value);
			$('#concine').val(concineFiltered[0].code);
	    	$('#concinePic').val(concineFiltered[0].pic);
		}
    	  nextId = 'partner';
      }
      else if(this.id === 'partner'){
    	  if(partnerFiltered != null && partnerFiltered.length === 1){
    		  $('#partner').val(partnerFiltered[0].value);
    	  }
    	  nextId = 'profitDate';
      }
      else if(this.id === 'profitDate') nextId = 'itemName';
      else if(this.id === 'itemName'){
    	  if(carGoFiltered != null && carGoFiltered.length === 1){
    		  	$('#itemName').val(carGoFiltered[0].value);
    		  	$('#cargo').val(carGoFiltered[0].code);
  	    		$('#cargoDate').val(carGoFiltered[0].cargoDate);
  	    		$('#cargoLocation').val(carGoFiltered[0].location);
    	  }
    	  nextId = 'vesselVoyage';
      }
      else if(this.id === 'vesselVoyage') nextId = 'carrier';
      else if(this.id === 'carrier') nextId = 'pol';
      else if(this.id === 'pol') nextId = 'pod';
      else if(this.id === 'pod') nextId = 'terminal';
      else if(this.id === 'terminal' || this.id === 'parkingLotCode'){
    	  if(terminalFiltered != null && terminalFiltered.length === 1){
    		  	$('#terminal').val(terminalFiltered[0].value);
    			$('#terminalCode').val(terminalFiltered[0].code);
  	    		$('#pod').val(terminalFiltered[0].region);
  	    		$('#parkingLotCode').val(terminalFiltered[0].parkingLotCode);
    	  }
    	  nextId = 'etd';
      }
      else if(this.id === 'etd') nextId = 'eta';
      else if(this.id === 'eta') nextId = 'ft';
      else if(this.id === 'ft') nextId = 'endOfFt';
      else if(this.id === 'endOfFt') nextId = 'demRate';
      else if(this.id === 'demRate') nextId = 'remark';
      
      if(nextId != null){
    	  $('#' + nextId).focus();
      }
    }
  });
});




/**
 * concine 팝업 오픈
 */
function popupConcineNew(){
	$('#pconcineName').val($('#concineName').val());
	// 특정 input 요소에 포커스를 이동시키기
	$('#pconcineCode').focus();
	$('#concineNewModal').modal('show');
}

/**
 * concine 팝업 오픈
 */
async function popupConcineSave(){
	if($('#pconcineCode').val() === '' || $('#pconcineName').val() === ''){
		$('#concineNewModalFormDiv').addClass('was-validated');
		return false;
	}
	
	var response = await requestApi('POST', '/api/mdm/customer-popup', $('#concineNewModalForm').serializeObject());
	if(response.common.status === 'S'){
		var addCustomer = {code : $('#pconcineCode').val(), email : $('#pconcineEmail').val(), label : $('#pconcineName').val(), pic : $('#pconcinePic').val(), value : $('#pconcineName').val()};
		$('#concine').val($('#pconcineCode').val());
		$('#concineName').val($('#pconcineName').val());
		$('#concinePic').val($('#pconcinePic').val());
		customerList.push(addCustomer);
		popupConcineClose();
 	}
}

function popupConcineClose(){
	$('#concineNewModalForm')[0].reset();
	$('#concineNewModal').modal('hide');
}

</script>
</html>