<!DOCTYPE html>
<!--Thymeleaf, ConfigFragment 선언-->
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:fragment="ConfigFragment">
<head>
<!--Common Head-->
<meta charset="UTF-8">
<meta http-equiv="content-language" content="en" />
<meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
<title>KC LOGIX</title>
<script th:inline="javascript">
var jqgridEmptyRecords = [[#{common.jqgrid.label.emptyRecords}]];
</script>
<!-- General CSS Files -->
<link rel="stylesheet" href="/assets/css/bootstrap.css">
<link rel="stylesheet" href="/assets/css/all.css">

<!-- CSS Libraries -->
<link rel="stylesheet" href="/modules/bootstrap-daterangepicker/daterangepicker.css">
<link rel="stylesheet" href="/modules/select2/dist/css/select2.min.css">
<link rel="stylesheet" href="/modules/selectric/public/selectric.css">
<link rel="stylesheet" href="/modules/bootstrap-timepicker/css/bootstrap-timepicker.min.css">
<link rel="stylesheet" href="/modules/dropzone/dist/min/dropzone.min.css">
<link rel="stylesheet" href="/assets/css/jquery-ui.css" />
<link rel="stylesheet" href="/assets/css/trirand/ui.jqgrid.css" />

<!-- Template CSS -->
<link rel="stylesheet" href="/assets/css/style.css">
<link rel="stylesheet" href="/assets/css/components.css">

<!-- General JS Scripts -->
<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/js/jquery.cookie.js"></script>
<script src="/assets/js/jquery.serializeObject.js"></script>
<script src="/assets/js/jquery.autocomplete.js"></script>
<script src="/assets/js/popper.min.js"></script>
<script src="/assets/js/bootstrap.js"></script>
<script src="/assets/js/moment.min.js"></script>
<script src="/assets/js/stisla.js"></script>

<!-- JS Libraies -->

<script src="/modules/bootstrap-daterangepicker/daterangepicker.js"></script>
<script src="/modules/bootstrap-timepicker/js/bootstrap-timepicker.min.js"></script>
<script src="/modules/select2/dist/js/select2.full.min.js"></script>
<script src="/modules/selectric/public/jquery.selectric.min.js"></script>
<script src="/assets/js/bootstrap-datepicker.js"></script>
<script src="/assets/js/jquery.nicescroll.min.js"></script>
<script src="/modules/dropzone/dist/min/dropzone.min.js"></script>
<script src="/modules/sweetalert/dist/sweetalert.min.js"></script>

<!-- Template JS File -->
<script src="/assets/js/scripts.js"></script>
<script src="/assets/js/custom.js"></script>

<!-- JQGRID JS File -->
<script src="/assets/js/trirand/i18n/grid.locale-en.js" ></script>
<script src="/assets/js/trirand/jquery.jqGrid.js" ></script>

<script src="/js/common.js"></script>
<script src="/js/comminGrid.js"></script>
<script src="/js/api.js"></script>
<script src="/js/message.js"></script>
<script src="/js/datejs_core.js"></script>

<script type="text/javascript">
	$('input').attr('autocomplete','off');
</script>


</head>
</html>