<!DOCTYPE html>
<html dir="ltr" lang="en">
<head>
<meta charset="utf-8" />
<title>KC Logix</title>
<!-- <link rel="icon" type="image/x-icon" href="/assets/img/favicon.ico" /> -->
<script type="text/javascript">
var kcUser = sessionStorage.getItem("KC-USER");
if(kcUser === null) location.replace("/view/login/authlogin");
else if(JSON.parse(kcUser).type === 'M') location.replace("/view/management/import-monitor-manual");
else location.replace("/view/partner");
</script>
</head>
<body></body>
</html>
