<!DOCTYPE html>
<!-- Default Layout Import-->
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/default/layout}" layout:fragment="Content">

<!-- Main Content -->
<div class="main-content">
	<section class="section">
		<div class="section-header">
			<h1>Import Monitor(Manual)</h1>
			<div class="section-header-breadcrumb">
<!-- 				<div class="breadcrumb-item active"> -->
<!-- 					<a href="/" th:text="#{common.sidebar.hmoe.name}"></a> -->
<!-- 				</div> -->
<!-- 				<div class="breadcrumb-item">Management</div> -->
<!-- 				<div class="breadcrumb-item">Import Monitor(M)</div> -->
			</div>
		</div>
		<div class="section-body">
			<div class="row">
				<div class="col-100">
					<div class="card">
						<div class="card-header text-right">
						<a class="btn btn-light" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="true" aria-controls="collapseExample" onclick="collapse()">
                        	Search Box
                      	</a>
						<button class="btn btn-primary" onclick="search()" th:text="#{common.button.label.search}"></button>
						</div>
						<div class="card-body">
							<div class="collapse" id="collapseExample">
								<div class="form-group row">
									<label class="col-form-label text-md-left" style="width: 90px;">HBL NO.</label>
									<div style="width: 120px; margin-right: 15px;">
										<input type="text" id="shblNo" name="shblNo" value="" class="form-control">
									</div>
									<label class="col-form-label text-md-left" style="width: 90px;">MBL NO.</label>
									<div style="width: 120px; margin-right: 15px;">
										<input type="text" id="smblNo" name="smblNo" value="" class="form-control">
									</div>
									<label class="col-form-label text-md-left" style="width: 70px;">Tank no.</label>
									<div style="width: 120px; margin-right: 15px;">
										<input type="text" id="stankNo" name="stankNo" value="" class="form-control">
									</div>
									<label class="col-form-label text-md-left" style="width: 60px;">POL</label>
									<div style="width: 80px; margin-right: 15px;">
										<input type="text" id="spol" name="spol" value="" class="form-control">
									</div>
									<label class="col-form-label text-md-left" style="width: 60px;">POD</label>
									<div style="width: 80px; margin-right: 15px;">
										<input type="text" id="spod" name="spod" value="" class="form-control">
									</div>
									<label class="col-form-label text-md-left" style="width: 100px;">Return Depot</label>
									<div style="width: 150px; margin-right: 15px;">
										<input type="text" id="sreturnDate" name="sreturnDate" class="form-control">
									</div>
								</div>	
								<div class="form-group row">
									<label class="col-form-label text-md-left" style="width: 90px;">Return Data</label>
									<div style="width: 120px; margin-right: 15px;">
										<input type="text" id="sreturnDate" name="sreturnDate" class="form-control datemask" placeholder="YYYY/MM/DD" >
									</div>
									<label class="col-form-label text-md-left" style="width: 90px;">PROFIT DATE</label>
									<div style="width: 120px; margin-right: 15px;">
										<input type="number" id="sprofitDate" name="sprofitDate" class="form-control no-spinner" oninput="limitLength(this, 2)" placeholder="MM" >
									</div>
									<label class="col-form-label text-md-left" style="width: 70px;">ATA</label>
									<div style="width: 120px; margin-right: 15px;">
										<input type="text" id="sata" name="sata" class="form-control datemask" placeholder="YYYY/MM/DD" >
									</div>
									<label class="col-form-label text-md-left" style="width: 175px;">ESTIMATE RETURN DATE</label>
									<div style="width: 120px; margin-right: 15px;">
										<input type="text" id="serd" name="serd" class="form-control datemask" placeholder="YYYY/MM/DD" >
									</div>
								</div>
								<div class="form-group row">
									<label class="col-form-label text-md-left" style="width: 90px;">Partner</label>
									<div style="width: 345px; margin-right: 15px;">
										<input type="text" id="spartner" name="spartner" value="" class="form-control">
									</div>
									<label class="col-form-label text-md-left" style="width: 70px;">Item</label>
									<div style="width: 430px; margin-right: 15px;">
										<input type="text" id="sitem" name="sitem" value="" class="form-control">
									</div>
								</div>
							 </div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-100">
					<div class="card">
						<div class="card-header">
						<div class="form-group row">
							<div class="col-md-25">
								<select class="form-control selectric" id="frozenCel" name="frozenCel" multiple="multiple" onchange="frozenCelHide(this)">
									<option value=""></option>
			                        <option value="sales">매출</option>
			                        <option value="carryoverSales">이월매출</option>
			                        <option value="arrivalNotice">A/N-EDI</option>
			                        <option value="invoice">INVOICE</option>
			                        <option value="concine">CNEE</option>
			                        <option value="profitDate">PROFIT DATE</option>
			                        <option value="domesticSales">국내매출</option>
			                        <option value="foreignSales">해외매출</option>
			                        <option value="quantity">Q'ty</option>
		                      	</select>
							</div>
							<div class="col-md-74 text-right">
							<button class="btn btn-primary" id="add" data-toggle="modal" data-target="#importMonitorPopup" >Add</button>
							<button class="btn btn-success" onclick="save()" th:text="#{common.button.label.save}"></button>
							</div>
							</div>
						</div>
						<div class="card-body p-0">
							<div class="table-responsive" style="overflow: hidden;">
								<table id="port-table"></table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>
<!-- Page Specific JS File -->
<script src="/templates/html/apps/management/import-monitor-manual.js"></script>
<!-- 팝업 사용방법 -->
<th:block th:replace="html/apps/management/popup/import-monitor :: ImportMonitorPopup"></th:block>

</html>
